{% extends 'ideas/base.html'%}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <meta charset="UTF-8">
    <title>Signup</title>
</head>

<body>

    <div class="navbar">
        <a href="{% url 'home' %}">
                        <img class="iic" src="{% static 'imgs/pngaaa.com-2355573.png' %}" alt="centered image" style="vertical-align:middle" height="100px"  >

        </a>
        <img class="logo" src="{% static 'imgs/logo.png' %}"  height="100px" style="vertical-align:middle" >
        <a  href="{% url 'loginuser' %}">
            <button class="btnsmall">Login</button>
        </a>
    </div>
    <div class="signupform">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btnsmall" type="submit"> Sign Up</button>

        </form>

    </div>
<div class="error"> {{error}}</div>

</body>
<footer class=" footersignup">
        <div class="foottxt">Made by Ghanit Kumar for:
            <br>
            Institution's Innovation Council (IIC 4.0)
            <br>
            Engineering College Bikaner
        </div>

    </footer>

{% endblock %}
